.container {
  margin: auto;
  padding-top: 8rem;
  width: 75%;
  min-height: 100vh;
}

.title {
  font-size: 3rem;
  -webkit-text-stroke: 1.5px var(--color-text-primary);
  color: var(--color-bg-primary);
  border-bottom: 1px solid var(--color-text-primary);
  margin-bottom: 2rem;
}

.contact_container {
  display: flex;
  justify-content: space-between;
}

.mail_container {
  width: 50%;
  display: flex;
  gap: 3rem;
}

.form_container {
  width: 70%;
}

.form_container form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.form_container form div{
  display: flex;
  gap: 1rem;
}

.email_input, .name_input {
  width: 50%;
}

.form_container form input{
  height: 2.5rem;
  padding: 0.5rem;
}

.message_input {
  min-height: 10rem;
}

.submit_button {
  width: 10rem;
  align-self: flex-end;
}