@import url('https://fonts.cdnfonts.com/css/clash-display');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
body[data-theme="light"] {
  --color-text-primary: #222;
  --color-text-secondary: #076963;
  --color-bg-primary: #fff;
  --color-bg-toggle: #1e90ff;
  --color-arrow: invert(9%) sepia(43%) saturate(20%) hue-rotate(321deg) brightness(105%) contrast(93%);
  --color-toggle: invert(100%) sepia(100%) saturate(2%) hue-rotate(275deg) brightness(108%) contrast(101%);

  
}

body[data-theme="dark"] {
  --color-text-primary: #e3e3e3;
  --color-text-secondary: #ff6b00;
  --color-bg-primary: #222;
  --color-bg-toggle: #a9a9a9;
  --color-arrow: invert(100%) sepia(100%) saturate(2%) hue-rotate(275deg) brightness(108%) contrast(101%);
  --color-toggle: invert(9%) sepia(43%) saturate(20%) hue-rotate(321deg) brightness(105%) contrast(93%)
}

html,
body {
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: sans-serif;
  transition: background 0.25s ease-in-out;

  font-family: 'Clash Display', sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}


a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
